* {
    background-color: green;
}

h1 {
    font-family: Verdana;
    font-size: 20px;
    color: silver;
    text-align: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7n_PPBkS-Ww-uY9t9M6orSV-0LWipT6Syeg&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 14px;
}
button {
    border-radius: 14px;
    padding: 10px;
    border-style: 20px solid black;
    height: 80px;
    width: 150px;
}
button img {
    height: 100%;
    width: 100%;
    border-radius: 14px;
}
