* {

    box-sizing: border-box;
}

main {
    background-color: green;
}
h1 {
    font-family: Verdana;
    font-size: 20px;
    color: silver;
    text-align: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7n_PPBkS-Ww-uY9t9M6orSV-0LWipT6Syeg&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 14px;
}
button {
    border-radius: 14px;
    padding: 10px;
    border-style: 20px solid black;
    height: 80px;
    width: 150px;
}
button img {
    height: 100%;
    width: 100%;
    border-radius: 14px;
}

div img {
    height: 60%;
    width: 60%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    transition: 1000ms;;
    background: rgb(240, 225, 94);
    color: black;
  }

footer {
    background-color: aqua;
    text-align: right;
}

